@{
    int clientsInGymCount = ViewBag.ClientsInGymCount;
    int clientsNotInGymCount = ViewBag.ClientsNotInGymCount;
}

<div class="pt-5 mt-5" >
    <h2>Clients in the Gym: @clientsInGymCount</h2>
    <h2>Clients Not in the Gym: @clientsNotInGymCount</h2>
    <div style="width: 500px; height: 500px;">
        <canvas id="chart" width="100" height="100" style="height:100px;width:100px"></canvas>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['In Gym', 'Not in Gym'],
            datasets: [{
                data: [@clientsInGymCount, @clientsNotInGymCount],
                backgroundColor: ['green', 'red']
            }]
        },
        options: {
            cutoutPercentage: 70, // Adjust the value to control the size of the hole (70% in this example)
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 10 // Reduce the font size of the labels
                        }
                    }
                }
            }
        }
    });
</script>
