@model EquipmentViewModel
@{
    ViewData["Title"] = "CreateGymEquipment";
}

<div class="d-flex justify-content-center align-items-center backgroundFormsClass" style="min-height: 81vh;">
    <div class="col-lg-6 col-10 bg-dark rounded p-4 border border-1 border-primary rounded glassClassForm">
        <h4 class="text-white mb-4 text-center">Create Gym Equipment</h4>
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label text-white"></label>
                    <input asp-for="Name" class="form-control rounded rounded-3 border border-1 border-primary" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Quantity" class="control-label text-white"></label>
                    <input asp-for="Quantity" type="number" class="form-control rounded rounded-3 border border-1 border-primary" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="GymID">Gym</label>
                    <select class="form-select border border-1 border-primary text-center" asp-for="GymID">
                        @{
                            foreach (var item in Model.GymIDsNames)
                            {
                                <option value="@item.GymID">@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="formFile" >Image</label>
                    <input type="file" name="file" class="form-control rounded rounded-3  border border-1 border-primary" required/>
                </div>
            </div>

            <div class="form-group text-center mt-3 d-grid gap-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
