@model EquipmentViewModel
@{
    ViewData["Title"] = "Create Equipment";
   
    Layout = "_Layout";


}




   
   


    <div class="container d-flex justify-content-center align-items-center" style="min-height: 87vh;">
        <div class="col-md-6 bg-dark rounded p-4">
     
        <h4 class="text-white mb-4">Create Gym Equipment</h4>
                        <form asp-action="Create"  method="post" enctype="multipart/form-data">
                            <input type="hidden" name="__RequestVerificationToken" value="your-antiforgery-token-here" />

                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" name="Name" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="Quantity">Quantity</label>
                                <input type="text" name="Quantity" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="OutOfService">Out of Service</label>
                                <input type="text" name="OutOfService" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="GymID">Gym ID</label>
                                <input type="text" name="GymID" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="formFile">Image</label>
                                <input type="file" name="file" class="form-control" />
                            </div>

                            <div class="form-group text-center mt-3 d-grid gap-2">
                                <input type="submit" value="Submit" class="btn btn-lg btn-primary border border-1 border-primary" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

