@model gym_management_system_front_end.Models.LogInDTO

@{
    ViewData["Title"] = "LogIn";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 87vh;">
    <div class="col-md-6 bg-dark rounded p-4 border border-1 border-primary rounded">
        <h4 class="text-white mb-4">User Account Info</h4>
        <form asp-action="Login" asp-controller="User">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label text-white"></label>
                <input type="text" asp-for="UserName" class="form-control rounded rounded-3 border border-1 border-primary">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label text-white"></label>
                <input type="password" asp-for="Password" class="form-control rounded rounded-3 border border-1 border-primary">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group text-center mt-3 d-grid gap-2">
                <input type="submit" value="Login" class="btn btn-lg btn-primary border border-1 border-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
