@model gym_management_system_front_end.Models.LogInDTO

@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid px-0 col-lg-12 d-flex justify-content-center align-items-center backgroundFormClass">
    <div class="col-lg-6 col-12 bg-dark rounded p-4 border border-1 border-primary rounded glassClassForm">
        <div class="form-box">
                <form asp-action="Login" asp-controller="User">
                    <h3 class="text-center">Login</h3>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label my-1">user name</label>
                        <input type="text" asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger my-2"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label my-1">password</label>
                        <input type="password" asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger my-2"></span>
                    </div>
                    <div class="form-group mt-3 d-grid gap-2">
                        <input type="submit" value="Login" class="btn btn-lg btn-primary">
                    </div>
                </form>
            <div asp-validation-summary="ModelOnly" class="text-danger fw-bolder fs-5 my-1"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
