@model gym_management_system_front_end.Models.EmailViewModel

<link href="~/css/contactus.css" rel="stylesheet" />

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Don't call us we'll call you</h3>
        </div>
        <form id="contactForm" asp-controller="Home" asp-action="RecieveEmail">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group mb-5">
                        <!-- Name input-->
                        <input asp-for="senderName" class="form-control" id="name" type="text" placeholder="Your Name *" />
                    </div>
                    <div class="form-group mb-1">
                        <!-- Email address input-->
                        <input asp-for="senderEmail" class="form-control" id="email" type="email" placeholder="Your Email *" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group form-group-textarea  mb-1">
                        <!-- Message input-->
                        <textarea asp-for="emailBody" class="form-control" id="message" placeholder="Your Message *"></textarea>
                    </div>
                </div>
            </div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Send Message</button></div>
        </form>
    </div>
</section>
