@model gym_management_system_front_end.Models.CreatSubscriptionTierDTO

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid d-flex justify-content-center align-items-center backgroundFormsClass" style="min-height: 85vh;">
    <div class="col-md-4 bg-dark rounded p-4 border border-1 border-primary rounded glassClassForm">
        <h4 class="text-white mb-4 text-center">Create Subscription Tier</h4>
        <hr />

        <form asp-action="Create" asp-controller="SubscriptionTiers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label text-white"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Price" class="control-label text-white"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Length" class="control-label text-white"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            </div>

            <div class="form-group text-center mt-3 d-grid gap-2">
                <div class="row">
                    <input type="submit" value="Save" class="btn btn-primary col-md-5 offset-1" />
                    <a class="btn btn-secondary mx-1 col-md-5" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
