@model gym_management_system_front_end.Models.PutGymDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PutGymDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Gyms" asp-route-id="@Model.GymID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GymID" />
            <input type="hidden" asp-for="Name" />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxCapacity" class="control-label"></label>
                <input asp-for="MaxCapacity" class="form-control" />
                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCapacity" class="control-label"></label>
                <input asp-for="CurrentCapacity" class="form-control" />
                <span asp-validation-for="CurrentCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveHours" class="control-label"></label>
                <input asp-for="ActiveHours" class="form-control" />
                <span asp-validation-for="ActiveHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notification" class="control-label"></label>
                <input asp-for="Notification" class="form-control" />
                <span asp-validation-for="Notification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

