@model gym_management_system_front_end.Models.PutGymDTO

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-center align-items-center backgroundFormsClass" style="min-height: 100vh;">
    <div class="col-md-5 col-sm-11 bg-dark rounded p-4 border border-1 border-primary rounded glassClassForm">
        <h4 class="text-white mb-4">Edit Gym</h4>
        <form asp-action="Edit" asp-controller="Gyms" asp-route-id="@Model.GymID" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="GymID" />
            <input type="hidden" asp-for="Name" />

            <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Address" class="control-label text-white"></label>
                <input asp-for="Address" class="form-control rounded rounded-3 border border-1 border-primary" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="MaxCapacity" class="control-label text-white"></label>
                <input asp-for="MaxCapacity" class="form-control rounded rounded-3 border border-1 border-primary" />
                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
            </div>
            </div>

            <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="ActiveHours" class="control-label text-white"></label>
                <input asp-for="ActiveHours" class="form-control rounded rounded-3 border border-1 border-primary" />
                <span asp-validation-for="ActiveHours" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Notification" class="control-label text-white"></label>
                <input asp-for="Notification" class="form-control rounded rounded-3 border border-1 border-primary" />
                <span asp-validation-for="Notification" class="text-danger"></span>
            </div>

            </div>


            <div class="row">
            <div class="form-group col-md-12">
                <label asp-for="imageURL">Image</label>
                <input asp-for="imageURL" type="file" name="file" class="form-control rounded rounded-3 border border-1 border-primary text-center"/>
                <span asp-validation-for="imageURL" class="text-danger"></span>
            </div>
            </div>

            <div class="form-group text-center mt-3 d-grid gap-2">
                <input type="submit" class="btn btn-lg btn-primary border border-1 border-primary"/>
                <a class="btn btn-secondary" asp-action="TableView">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
