@model gym_management_system_front_end.Models.GymSupplementViewModel

@{
    ViewData["Title"] = "RemoveSupplementFromGym";
}



<div class="row mt-5 pt-5 justify-content-center">
    <h1 class="text-center">Remove Supplement From Gym</h1>

    <h3 class="text-center">Are you sure you want to delete this?</h3>
    <div class="col-md-4">
        <form asp-action="ConfirmRemoveSupplementFromGym" asp-controller="Gyms">
            <input type="hidden" asp-for="GymID" />
            <input type="hidden" asp-for="SupplementID" />

            <div class="form-group">
                <label asp-for="SupplementID" class="control-label"></label>
                <input asp-for="SupplementID" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Supplement.Name" class="control-label">Name</label>
                <input asp-for="Supplement.Name" class="form-control" readonly />
            </div>

            <div class="form-group m-1 d-flex justify-content-center">
                <input type="submit" value="Delete" class="btn btn-danger m-2" />
                <a href="#" class="btn btn-secondary m-2" onclick="history.back()">Back</a>
            </div>
        </form>
    </div>
</div>
