@model gym_management_system_front_end.Models.GymSupplementViewModel

@{
    ViewData["Title"] = "UpdateSupplementForGym";
}


<div class="vh-100 d-flex  justify-content-center align-items-center">


    <div class="container container-fluid mt-5 pt-5  col-md-4 d-flex  justify-content-center align-items-center glassClassForm ">
        <div class="row">
            <h4 class="text-center">Update Supplement For Gym</h4>
            <hr />
            <form asp-action="ConfirmUpdateSupplementForGym" asp-controller="Gyms">
                <input type="hidden" asp-for="GymID" />
                <input type="hidden" asp-for="SupplementID" />

                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>

                <div class="form-group m-1 d-flex justify-content-center">
                    <input type="submit" value="Save" class="btn btn-primary m-2" />
                    <a href="#" class="btn btn-secondary m-2" onclick="history.back()">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
