
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #dee2e6;
    text-align: center;
    padding: 15px;
}
.navbar.custom-navbar.navbar-expanded {
    height: 10%; /* Set the initial height */
    transition: all 0.3s !important;
}

.navbar.custom-navbar.navbar-shrink {
    height: 7%; /* Set the shrunk height */
    background-color: #222 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

@media (max-width: 991.98px) {
    .navbar.custom-navbar.navbar-expanded {
        background-color: #222 !important; /* Set the desired background color for small and medium screens */
    }
}

.navbar.custom-navbar {
    background-color: transparent !important;
    transition: background-color 0.3s !important;
}

@media (max-width: 991.98px) {
    .navbar.custom-navbar.navbar-expanded,
    .navbar-collapse {
        background-color: #222 !important; /* Set the desired background color for small and medium screens */
    }
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 2px solid #FF8C00 !important;
    box-shadow:none !important;
}

.nav-link:hover {
    color: #FF8C00 !important;
}

