

.navbar.custom-navbar.navbar-expanded {
    height: 10%; /* Set the initial height */
    transition: all 0.3s !important;
}

.navbar.custom-navbar.navbar-shrink {
    height: 7%; /* Set the shrunk height */
    background-color: #4E5D6C !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

@media (max-width: 991.98px) {
    .navbar.custom-navbar.navbar-expanded {
        background-color: #4E5D6C !important;
    }

    .navbar.custom-navbar.navbar-shrink {
        height: 10% !important;
    }
}

.navbar.custom-navbar {
    background-color: transparent !important;
    transition: background-color 0.3s !important;
}

@media (max-width: 991.98px) {
    .navbar.custom-navbar.navbar-expanded,
    .navbar-collapse {
        background-color: #4E5D6C !important;
    }
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 2px solid #FF8C00 !important;
    box-shadow: none !important;
}

.nav-link:hover {
    color: #FF8C00 !important;
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/WebBg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

    header.masthead .masthead-subheading {
        font-size: 1.5rem;
        font-style: italic;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    header.masthead .masthead-heading {
        font-size: 3.25rem;
        font-weight: 700;
        line-height: 3.25rem;
        margin-bottom: 2rem;
        font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

@media (min-width: 768px) {
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
    }

        header.masthead .masthead-subheading {
            font-size: 2.25rem;
            font-style: italic;
            line-height: 2.25rem;
            margin-bottom: 2rem;
        }

        header.masthead .masthead-heading {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 4rem;
        }
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

    .footer a:hover {
        color: #FF8C00 !important;
        text-decoration: underline;
    }

.page-section {
    padding: 6rem 0;
}

    .page-section h2.section-heading, .page-section .section-heading.h2 {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .page-section h3.section-subheading, .page-section .section-subheading.h3 {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        margin-bottom: 4rem;
    }

    .page-section h2.section-heading, .page-section .section-heading.h2 {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .page-section h3.section-subheading, .page-section .section-subheading.h3 {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        margin-bottom: 4rem;
    }

.gymscard {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 0 auto;
}

    .gymscard .card-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.999s;
    }

    .gymscard:hover .card-inner {
        transform: rotateY(180deg);
    }

    .gymscard .card-front,
    .gymscard .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .gymscard .card-front {
        background-color: #FF771C;
        color: #fff;
        display: flex;
        align-items: center;
        border: 6px solid #FF771C;
        border-radius: 6px;
        justify-content: center;
        font-size: 24px;
        transform: rotateY(0deg);
    }

        .gymscard .card-front img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .gymscard .card-back {
        background-color: #4E5D6C;
        color: #fff;
        border: 6px solid #4E5D6C;
        border-radius: 6px;
        justify-content: center;
        font-size: 24px;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        .gymscard .card-back h5,
        .gymscard .card-back p {
            margin: 0;
        }
