@model IEnumerable<gym_management_system_front_end.Models.SupplementViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class=" mh-100" style="min-height:78vh ;">
    
<div class="container  mt-3 pt-5">
        <p  >
        <a asp-action="Create" class="btn btn-success mt-5 rounded rounded-3">
            <i class="bi bi-plus-circle me-1"></i>Create New
        </a>

    </p>
<table id="tblData" class="table" style="color:white !important">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script src="~/js/supplement.js"></script>
}
</div>
</div>