@model IEnumerable<gym_management_system_front_end.Models.GymViewModel>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 mb-4 gymscard">
            <a href="@Url.Action("Details", "Gyms", new { id = item.GymID })">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="https://img.freepik.com/premium-photo/dark-gym-with-red-light-wall-bar-with-weights-it_911201-3356.jpg?w=740" class="card-img-top" alt="...">
                    </div>
                    <div class="card-back">
                        <h5 class="card-title mb-2 fw-bold text-warning">@item.Name</h5>
                        <p class="card-text">@item.Address</p>
                    </div>
                </div>
            </a>
            
        </div>
    }
</div>


<link rel="stylesheet" href="./css/site.css">

