@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
    var gymList = new SelectList(ViewBag.gymList, "GymID", "Name");
}


<div class="container mt-5 pt-5" style="min-height:80vh;">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-2">

            <div class="form-div mt-3">
                <form method="Post" asp-controller="Employees" asp-action="GetEmployeesByGymId" class="form-emp-T">
                    <div class="flex-form-div">
                        <div class=" row d-flex justify-content-center align-items-center">
                            
                                <label for="gymId" class=" col-md-2 control-label text-primary">Choose A Gym</label>
                            <select class="form-select mt-1 col-md-4" asp-items="@gymList" id="gymId" name="gymId">
                                    <i class="bi bi-caret-down"></i>
                                </select>
                          

                            <input type="submit" value="Search" class="col-md-2 btn-primary px-3 rounded-3 py-1 ms-2 mt-4" />

                        </div>

                    </div>
                </form>
            </div>

            <div class="row pt-2">
                <div class="col-6">
                @if (ViewBag.Employees == "All")
                {
                  
                    <h1 class="text-center mt-2 text-primary">All Employees</h1>
                    
                }
                else
                {

                    <h1 class="text-center mt-2 text-primary">@ViewBag.gymName</h1>

                }
                </div>
               
            </div>

            <table class="table table-striped border table-borderless border-primary">
                <thead class="bg-dark text-white">
                    <tr>
                        <th class="text-light col-md-2" scope="col">Gym ID</th>
                        <th class="text-light col-md-2" scope="col">Name</th>
                        <th class="text-light col-md-2 ps-5" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <th class="text-light col-md-1 px-4" scope="row">@emp.EmployeeID</th>
                            <td class="text-light col-md-2">@emp.Name</td>
                            <td>
                                <div class="btn-group col-lg-5 col-md-8" role="group">
                                    <a class="btn btn-outline-primary" asp-controller="Employees" asp-action="GetEmployee" asp-route-id="@@emp.EmployeeI">Details</a>
                                    <a class="btn btn-outline-warning mx-3" asp-controller="Employees" asp-action="Edit" asp-route-id="@@emp.EmployeeI">Edit</a>
                                    <a class="btn btn-outline-danger" asp-controller="Employees" asp-action="Delete" asp-route-id="@@emp.EmployeeI">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>