@model RegisterEmployeeViewModel

@{
    ViewData["Title"] = "Create Employee";
    var gymList = new SelectList(ViewBag.gymList, "GymID", "Name");
}

<div class="d-flex justify-content-center align-items-center backgroundFormClass" style="min-height: 87vh;">
    <div class="col-md-6 bg-dark rounded p-4 border border-1 border-primary rounded glassClassForm">
        <div class="form-box">
            <form method="post" asp-controller="Employees" asp-action="Create">
                <h3>Employee Info</h3>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="text" asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="Name" class="control-label"></label>
                        <input type="text" asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input type="text" asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="JobDescription" class="control-label"></label>
                        <input type="text" asp-for="JobDescription" class="form-control">
                        <span asp-validation-for="JobDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group d-flex flex-wrap mt-2 col-md-12 justify-content-evenly">
                    <label class="control-label">Working Days</label>
                    <input type="hidden" id="workingDaysHidden" asp-for="WorkingDays" class="form-control" />

                    <div class="form-check">
                        <input type="checkbox" name="WorkingDays" value="Monday" class="form-check-input" id="MondayCheckbox">
                        <label class="form-check-labe mx-1" for="MondayCheckbox">Monday</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="WorkingDays" value="Tuesday" class="form-check-input" id="TuesdayCheckbox">
                        <label class="form-check-label mx-1" for="TuesdayCheckbox">Tuesday</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="WorkingDays" value="Wednesday" class="form-check-input" id="WednesdayCheckbox">
                        <label class="form-check-label mx-1" for="WednesdayCheckbox">Wednesday</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="WorkingDays" value="Thursday" class="form-check-input" id="ThursdayCheckbox">
                        <label class="form-check-label mx-1" for="ThursdayCheckbox">Thursday</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="WorkingDays" value="Friday" class="form-check-input" id="FridayCheckbox">
                        <label class="form-check-label mx-1" for="FridayCheckbox">Friday</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="WorkingDays" value="Saturday" class="form-check-input" id="SaturdayCheckbox">
                        <label class="form-check-label mx-1" for="SaturdayCheckbox">Saturday</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="WorkingDays" value="Sunday" class="form-check-input" id="SundayCheckbox">
                        <label class="form-check-label mx-1" for="SundayCheckbox">Sunday</label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label asp-for="WorkingHours" class="control-label"></label>
                        <input type="text" asp-for="WorkingHours" class="form-control">
                        <span asp-validation-for="WorkingHours" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Salary" class="control-label"></label>
                        <input type="text" asp-for="Salary" class="form-control">
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="GymID" class="control-label">Gym</label>
                        <select asp-for="GymID" asp-items="@gymList" class="form-control custom-select"></select>
                        <span asp-validation-for="GymID" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-3 d-grid gap-2">
                    <input type="submit" value="Create" class="btn btn-lg btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function updateWorkingDaysHiddenField() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"][name="WorkingDays"]:checked');
        var selectedValues = Array.from(checkboxes).map(function (checkbox) {
            return checkbox.value;
        });

        document.getElementById('workingDaysHidden').value = selectedValues.join(', ');
    }

    var checkboxes = document.querySelectorAll('input[type="checkbox"][name="WorkingDays"]');
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', updateWorkingDaysHiddenField);
    });
    a
    updateWorkingDaysHiddenField();
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
