

<div>
<partial name="_EmployeesTable" />
<div class="mb-5">
    <a class="btn text-white mb-5" asp-controller="Employees" asp-action="Index" style="background-color:darkorange !important">Back to List</a>
</div>
</div>