<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase text-white">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted text-white">Lorem ipsum dolor sit amet consectetur.</h3>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="team-member">
                        <div class="card mt-4 team-card">
                            <div class="card-body text-center">
                                <img class="card-img-top mb-3" src="https://techpioneers.blob.core.windows.net/images/Ammar.png" alt="Team Member" width="400" height="450">
                                <h5 class="card-title text-white">John Doe</h5>
                                <p class="card-text text-white">Position</p>
                                <ul class="list-inline social-buttons">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-instagram text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-facebook text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-linkedin text-white"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <div class="card mt-4 team-card">
                            <div class="card-body text-center">
                                <img class="card-img-top mb-3" src="https://techpioneers.blob.core.windows.net/images/Ala'a.png" alt="Team Member" width="400" height="450">
                                <h5 class="card-title text-white">John Doe</h5>
                                <p class="card-text text-white">Position</p>
                                <ul class="list-inline social-buttons">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-instagram text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-facebook text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-linkedin text-white"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <div class="card mt-4 team-card">
                            <div class="card-body text-center">
                                <img class="card-img-top mb-3" src="https://techpioneers.blob.core.windows.net/images/Nadien.png" alt="Team Member" width="400" height="450">
                                <h5 class="card-title text-white">John Doe</h5>
                                <p class="card-text text-white">Position</p>
                                <ul class="list-inline social-buttons">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-instagram text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-facebook text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-linkedin text-white"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <div class="card mt-4 team-card">
                            <div class="card-body text-center">
                                <img class="card-img-top mb-3" src="https://techpioneers.blob.core.windows.net/images/Dova.png" alt="Team Member" width="400" height="450">
                                <h5 class="card-title text-white">John Doe</h5>
                                <p class="card-text text-white">Position</p>
                                <ul class="list-inline social-buttons">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-instagram text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-facebook text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-linkedin text-white"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <div class="card mt-4 team-card">
                            <div class="card-body text-center">
                                <img class="card-img-top mb-3" src="https://techpioneers.blob.core.windows.net/images/Hareth.png" alt="Team Member" width="400" height="450">
                                <h5 class="card-title text-white">John Doe</h5>
                                <p class="card-text text-white">Position</p>
                                <ul class="list-inline social-buttons">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-instagram text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-facebook text-white"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="bi bi-linkedin text-white"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>